{% extends "base.html" %}
{%  block content %}
    <div class="sm:px-8 top-0 order-last -mb-3 pt-3">
        <div class="mx-auto max-w-7xl lg:px-8">
            <div class="relative px-4 sm:px-8 lg:px-12">
                <div class="mx-auto max-w-2xl lg:max-w-5xl">
                    <!-- Key Tech Skills Summary -->
                    <h3 class="text-2xl font-semibold mt-8">Key Tech Skills Summary</h3>
                    <ul class="list-disc list-inside mt-4">
                        <li>Languages: JavaScript, TypeScript, Python</li>
                        <li>Backend frameworks: Express.js, Next.js, FastAPI</li>
                        <li>Frontend frameworks: React</li>
                        <li>Databases: MongoDB, Postgres, Redis</li>
                        <li>Media streaming: Web-RTC, GStreamer</li>
                        <li>Misc: Linux, Algorithms and Data Structures, Git, Docker, RabbitMQ, MQTT</li>
                    </ul>

                    <!-- Experience section -->
                    <h3 class="text-2xl font-semibold mt-8">Experience</h3>

                    <!-- Sberbank -->
                    <div class="mt-4">
                        <h4 class="text-lg font-medium">ART-Technologies</h4>
                        <p class="text-gray-500">Backend/Full Stack Software Engineer (Full-time)</p>
                        <p class="text-gray-500">Aug 2022 - Present</p>
                        <ul class="list-disc list-inside mt-2">
                            <li>insystem.io: A complex of systems .</li>
                            <li>Tech stack: Major items of a tech stack include JS/TS, Python, and MongoDB.</li>
                            <li>Team and practices: Working in a core team of "SberKids" managed according to Kanban principles. Backend development practices include rigorous code reviews and automation of various DevOps processes.</li>
                        </ul>
                    </div>

                    <!-- Education section -->
                    <h3 class="text-2xl font-semibold mt-8">Education</h3>

                    <div class="mt-4">
                        <h4 class="text-lg font-medium">ITMO University</h4>
                        <p class="text-gray-500">Saint Petersburg, Russia</p>
                        <p class="text-gray-500">Sep 2021 - Jun 2023</p>
                        <ul class="list-disc list-inside mt-2">
                            <li>M.Sc. - Informatics and Computer Engineering, Computer Systems and Technologies</li>
                            <li>Courseworks: </li>
                            <li>Thesis: Implementation of Contract Testing for Microservices</li>
                        </ul>
                    </div>

                    <div class="mt-4">
                        <h4 class="text-lg font-medium">ITMO University</h4>
                        <p class="text-gray-500">Saint Petersburg, Russia</p>
                        <p class="text-gray-500">Sep 2016 - Jun 2021</p>
                        <ul class="list-disc list-inside mt-2">
                            <li>B.Sc. - Software Engineering and Computer Technologies, Software Systems</li>
                            <li>Courseworks: Discrete Math, Databases, Web Applications Development, System Software, Modeling, Mobile Applications Development, English</li>
                            <li>Thesis: Development of a Platform for Collaborative Video Streaming</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}